.container {
    display: flex;
    align-items: center;
    padding-top: 41px;
    padding-left: 63px; }

    .nav-link1 {
    vertical-align: baseline;
    font-size: 26px;
    font-weight: 700;
    color: #8D81FF;
}
.active {
    color: #4E6FAE;
    padding-left: 60px;
}
.news {
    padding-left: 87px;
}
.contact {
    padding-left: 81px;}
 .main  {
        padding-left: 60px;
    }
    .newsp {
      display: block;
        margin: 85px auto;
        width: 1052px;
        height: 462px;
    }
    .line {
    display: inline-block;
    width: 2px;
    height: 24px;
    background-color: #5012D5;}
    
    .head {
    margin-top: 120px;
    margin-left: 194px;
         padding-left: 120px;
        color: #4E6FAE;
       font-size: 26px;
       font-weight: 700;
    }
  .sp1 {
    font-size: 26px;
    font-weight: 400;
    color: #4E6FAE;
  }

.d1 {
  vertical-align: middle;
    display: inline-block;
    margin-top: 26px;
      width: 500px;
      height: 192px;
      border: 1px solid;
      background-color: #E7E7E7;
  }
  .h1 {
    margin-bottom: 20px;
    padding-top: 21px;
    padding-left: 23px;
    font-size: 20px;
    font-weight: 400;
  }
  .p1 {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #7E8898;
    width: 335px;
}
.divphoto {
    padding-left: 36px;
    margin-right: 34px;
}
 .flogo {
    margin-top: 143px;
    margin-left: 52px;
 }
 .tubelogo {
    padding-left: 82px;
 }
 .line1 {
    margin-left: 41px;
    margin-right: -41px;
    display: inline-block;
    width: 2px;
    height: 48px;
    background-color: #5012D5;
 }
 .ft {
    margin-left: 150px;
    margin-bottom: 286px;
 }
 .wrapper {
   margin: 0 auto;
   width: 1052px;
 }
 .mr-r-40px {
  margin-right: 40px;
 }
